<div class="alert alert-danger" *ngIf="msgErreur">
    {{msgErreur}}
   </div>
   <form #f="ngForm" (ngSubmit)="verifier(f)">
    Cin <input type="number" name="cin" ngModel><br>
    Nom <input type="text" name="nom" ngModel><br>
    Prenom <input type = "text" name="prenom" ngModel><br>
    Eamil <input type = "text" name="email" ngModel><br>
    Password <input type = "password" name="password" ngModel><br>
    login <input type = "text" name="login" ngModel><br>
    Adresse <input type = "text" name="adresse" ngModel><br>
    Telephone <input type = "number" name="telephone" ngModel><br>
    <button type="submit">ajouter</button>
   </form>
