<body>
<strong>Les livres classés par catégories</strong>
<p>Nous vous proposons ici un classement thématique des livres. Retrouvez les nouveautés pour chaque catégorie</p>

<div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-lg-5" >
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Développement personnel
            <div class="image-parent">
                <a routerLink="/devper">  <img src="https://e7.pngegg.com/pngimages/994/230/png-clipart-personal-development-business-individual-personal-life-business-blue-angle.png" class="img-fluid" alt="quixote"></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Llittérature
            <div class="image-parent">
                <a routerLink="/litterature"><img src="https://thumbs.dreamstime.com/b/vintage-open-book-wings-vector-graphic-design-element-literature-reading-theme-logo-icon-emblem-trendy-linear-style-162972832.jpg" class="img-fluid" alt="quixote"></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Informatique et internet
            <div class="image-parent">
                <a routerLink="/infointernet"><img src="https://thumbs.dreamstime.com/b/informatique-logo-icon-design-127782525.jpg" class="img-fluid" alt="quixote"></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Science et medecine
            <div class="image-parent">
                <a routerLink="/science"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_RuhkjrVmcwa75I9oJ6sPNm3GIp1D1LUTcg&usqp=CAU" class="img-fluid" alt="quixote"></a>
            </div>
          </li>



        </ul>
    </div>
    </div>
  </div>
</body>
